[submodule "rlog"]
	path = rlog
	url = https://gitlab.com/RoboticsHardwareSolutions/rlibs/rlog.git
[submodule "rtimeout"]
	path = rtimeout
	url = https://gitlab.com/RoboticsHardwareSolutions/rlibs/rtimeout.git
[submodule "runit"]
	path = runit
	url = https://gitlab.com/RoboticsHardwareSolutions/rlibs/runit.git
